/src/.vs
/.github
/src/easily.framework.core/obj
/src/easily.framework.webapi/bin
/src/easily.framework.webapi/Logs
/src/easily.framework.webapi/obj
/src/easily.framework.core/bin
/test/easily.framework.core.test/bin
/test/easily.framework.core.test/obj
/src/easily.framework.autofac/bin
/src/easily.framework.autofac/obj
/src/easily.framework.tools/obj
/src/easily.framework.tools/bin
/test/easily.framework.webapi/bin
/test/easily.framework.webapi/Logs
/test/easily.framework.webapi/obj
/src/easily.framework.authorizations/bin
/src/easily.framework.authorizations/obj
/project/easily.blogs.entities/bin
/project/easily.blogs.entities/obj
