/src/.vs
/.github
/src/easily.framework.core/obj
/src/easily.framework.webapi/bin
/src/easily.framework.webapi/Logs
/src/easily.framework.webapi/obj
/src/easily.framework.core/bin
/test/easily.framework.core.test/bin/Debug/net8.0
/test/easily.framework.core.test/obj
/src/easily.framework.autofac/bin
/src/easily.framework.autofac/obj
